.hexagon{
    width: 40px;
    aspect-ratio: cos(30deg);   /*6 Point ratio*/
    clip-path: polygon(
        -50% 50%,               /*Left point*/
        50% 100%,               /*Bottom point*/
        150% 50%,               /*Right point*/
        50% 0                   /*Top point*/
    );
}
.star{
    width: 40px;
    aspect-ratio: 1;
    clip-path: polygon(
        50% 0%,     /*Top point*/
        62.5% 37.5%,/*Top-Right bevel*/
        100% 50%,   /*Right point*/
        62.5% 62.5%,/*Bottom-Right bevel*/
        50% 100%,   /*Bottom point*/
        37.5% 62.5%,/*Bottom-Left bevel*/
        0% 50%,     /*Left point*/
        37.5% 37.5% /*Top-Left bevel*/
    );
}